<?xml version="1.0" encoding="utf-8"?>
<config>
  <modules>
	<Wsu_NewtworkSecurities>
	  <version>0.1.0</version>
	</Wsu_NewtworkSecurities>
  </modules>
  <global>
	<helpers>
	  <wsu_newtworksecurities>
		<class>Wsu_NewtworkSecurities_Helper</class>
	  </wsu_newtworksecurities>
	</helpers>
	<blocks>
	  <wsu_newtworksecurities>
		<class>Wsu_NewtworkSecurities_Block</class>
	  </wsu_newtworksecurities>
	</blocks>
	<models>
	  <wsu_newtworksecurities>
		<class>Wsu_NewtworkSecurities_Model</class>
	  </wsu_newtworksecurities>
	  <admin>
		<rewrite>
		  <session>Wsu_NewtworkSecurities_Model_Session</session>
		  <Observer>Wsu_NewtworkSecurities_Model_Observer</Observer>
		</rewrite>
	  </admin>
	  <customer>
		<rewrite>
		  <session>Wsu_NewtworkSecurities_Model_Customer_Session</session>
		  <customer>Wsu_NewtworkSecurities_Model_Customer_Customer</customer>
		</rewrite>
	  </customer>
	</models>
	 <resources>
		<newtworksecurities_setup>
			<setup>
				<module>Wsu_NewtworkSecurities</module>
			</setup>
		</newtworksecurities_setup>
	</resources>
        <events>
<!-- put these in when ready
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <newtworksecurities>
                        <class>newtworksecurities/observer</class>
                        <method>checkUserLogin</method>
                    </newtworksecurities>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <newtworksecurities>
                        <class>newtworksecurities/observer</class>
                        <method>checkForgotPassword</method>
                    </newtworksecurities>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <newtworksecurities>
                        <class>newtworksecurities/observer</class>
                        <method>checkUserCreate</method>
                    </newtworksecurities>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_adminhtml_index_forgotpassword>
                <observers>
                    <newtworksecurities>
                        <class>newtworksecurities/observer</class>
                        <method>checkUserForgotPasswordBackend</method>
                    </newtworksecurities>
                </observers>
            </controller_action_predispatch_adminhtml_index_forgotpassword>
            <admin_user_authenticate_before>
                <observers>
                    <newtworksecurities>
                        <class>newtworksecurities/observer</class>
                        <method>checkUserLoginBackend</method>
                    </newtworksecurities>
                </observers>
            </admin_user_authenticate_before>
            <admin_session_user_login_success>
                <observers>
                    <newtworksecurities_reset_attempt>
                        <class>newtworksecurities/observer</class>
                        <method>resetAttemptForBackend</method>
                    </newtworksecurities_reset_attempt>
                </observers>
            </admin_session_user_login_success>
			-->
        </events>
  </global>
  <admin>
	<routers>
	  <adminhtml>
		<args>
		  <modules>
			<wsu_newtworksecurities before="Mage_Adminhtml">Wsu_NewtworkSecurities_Adminhtml</wsu_newtworksecurities>
		  </modules>
		</args>
	  </adminhtml>
	</routers>
  </admin>
    <frontend>
        <events>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <wsu_newtworksecurities>
                        <class>Wsu_newtworksecurities_Model_Observer</class>
                        <method>controllerActionPredispatchCustomerAccountCreatepost</method>
                    </wsu_newtworksecurities>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            
            <controller_action_predispatch_review_product_post>
                <observers>
                    <wsu_newtworksecurities>
                        <class>Wsu_newtworksecurities_Model_Observer</class>
                        <method>controllerActionPredispatchBlockReviewForm</method>
                    </wsu_newtworksecurities>
                </observers>
            </controller_action_predispatch_review_product_post>

            <controller_action_predispatch_customer_account_create>
                <observers>
                    <wsu_newtworksecurities>
                        <class>Wsu_newtworksecurities_Model_Observer</class>
                        <method>controllerActionPredispatchCustomerAccountCreate</method>
                    </wsu_newtworksecurities>
                </observers>
            </controller_action_predispatch_customer_account_create>
        </events>
        <layout>
            <updates>
                <wsu_newtworksecurities>
                    <file>newtworksecurities.xml</file>
                </wsu_newtworksecurities>
            </updates>
        </layout>
        <routers>
            <wsu_newtworksecurities>
                <use>standard</use>
                <args>
                    <module>Wsu_newtworksecurities</module>
                    <frontName>newtworksecurities</frontName>
                </args>
            </wsu_newtworksecurities>
        </routers>
    </frontend>
  
  <default>
	<wsu_newtworksecurities>
	  <adminlogin>
		<activeldap>0</activeldap>
		<host>ldap1</host>
		<version>3</version>
		<port>389</port>
		<tls>0</tls>
		<rootdn>
		  <![CDATA[cn=admin,dc=newtworksecurities,dc=com]]>
		</rootdn>
		<rootpassword>newtworksecurities</rootpassword>
		<userdn>
		  <![CDATA[ou=users,dc=newtworksecurities,dc=com]]>
		</userdn>
		<filter>
		  <![CDATA[(&(%s=%s)(groups=newtworksecurities-magento-1))]]>
		</filter>
		<cmpattr>cn</cmpattr>
		<passattr>userPassword</passattr>
		<attr>
		  <![CDATA[{"login":"cn","firstname":"givenname","mail":"mail","lastname":"sn"}]]>
		</attr>
		<defaultroleid>20</defaultroleid>
		<adminatuocreate>0</adminatuocreate>
	  </adminlogin>
	</wsu_newtworksecurities>
  </default>
</config>
