<?xml version="1.0" encoding="utf-8"?>
<config>
  <modules>
    <Wsu_NewtworkSecurities>
      <version>0.1.0</version>
    </Wsu_NewtworkSecurities>
  </modules>
  <global>
    <helpers>
      <wsu_newtworksecurities>
        <class>Wsu_NewtworkSecurities_Helper</class>
      </wsu_newtworksecurities>
    </helpers>
    <blocks>
      <wsu_newtworksecurities>
        <class>Wsu_NewtworkSecurities_Block</class>
      </wsu_newtworksecurities>
    </blocks>
    <models>
      <wsu_newtworksecurities>
        <class>Wsu_NewtworkSecurities_Model</class>
        <resourceModel>wsu_newtworksecurities_resource</resourceModel>
      </wsu_newtworksecurities>
      <admin>
        <rewrite>
          <session>Wsu_NewtworkSecurities_Model_Session</session>
          <Observer>Wsu_NewtworkSecurities_Model_Observer</Observer>
        </rewrite>
      </admin>
      <customer>
        <rewrite>
          <session>Wsu_NewtworkSecurities_Model_Customer_Session</session>
          <customer>Wsu_NewtworkSecurities_Model_Customer_Customer</customer>
        </rewrite>
      </customer>
      <wsu_newtworksecurities_resource>
        <class>Wsu_NewtworkSecurities_Model_Resource</class>
        <entities>
          <!--<stockhistory>
            <table>wsu_stockhistory</table>
          </stockhistory>-->
        </entities>
      </wsu_newtworksecurities_resource>
      <!--<cataloginventory>
        <rewrite>
          <stock>Wsu_NewtworkSecurities_Model_CatalogInventory_Stock</stock>
        </rewrite>
      </cataloginventory>-->
    </models>
    <resources>
      <wsu_newtworksecurities_setup>
        <setup>
          <module>Wsu_NewtworkSecurities</module>
          <class>Mage_Catalog_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </wsu_newtworksecurities_setup>
      <wsu_newtworksecurities_write>
        <connection>
          <use>core_write</use>
        </connection>
      </wsu_newtworksecurities_write>
      <wsu_newtworksecurities_read>
        <connection>
          <use>core_read</use>
        </connection>
      </wsu_newtworksecurities_read>
    </resources>
    <events>
      
      <!-- stock history logging
      <checkout_submit_all_after>
        <observers>
          <wsu_newtworksecurities>
            <class>wsu_newtworksecurities/stock_observer</class>
            <method>checkoutAllSubmitAfter</method>
          </wsu_newtworksecurities>
        </observers>
      </checkout_submit_all_after>
      <cataloginventory_stock_item_save_after>
        <observers>
          <wsu_newtworksecurities>
            <type>singleton</type>
            <class>wsu_newtworksecurities/stock_observer</class>
            <method>saveStockItemAfter</method>
          </wsu_newtworksecurities>
        </observers>
      </cataloginventory_stock_item_save_after>
      <cataloginventory_stock_revert_products_sale>
        <observers>
          <wsu_newtworksecurities>
            <class>wsu_newtworksecurities/stock_observer</class>
            <method>stockRevertProductsSale</method>
          </wsu_newtworksecurities>
        </observers>
      </cataloginventory_stock_revert_products_sale>
      <catalog_product_import_finish_before>
        <observers>
          <wsu_newtworksecurities>
            <class>wsu_newtworksecurities/stock_observer</class>
            <method>catalogProductImportFinishBefore</method>
          </wsu_newtworksecurities>
        </observers>
      </catalog_product_import_finish_before>
      <controller_action_layout_render_before_adminhtml_catalog_product_edit>
        <observers>
          <wsu_newtworksecurities>
            <class>wsu_newtworksecurities/stock_observer</class>
            <method>addNewtworkSecuritiesTab</method>
          </wsu_newtworksecurities>
        </observers>
      </controller_action_layout_render_before_adminhtml_catalog_product_edit>
      <sales_order_item_cancel>
        <observers>
          <inventory>
            <type>disabled</type>
          </inventory>
          <wsu_newtworksecurities>
            <class>wsu_newtworksecurities/stock_observer</class>
            <method>cancelOrderItem</method>
          </wsu_newtworksecurities>
        </observers>
      </sales_order_item_cancel> -->
      <!-- ENDOF stock history logging -->
      
      <!--<controller_action_layout_load_before>
                <observers>
                    <adminhtml_index_login>
                        <class>wsu_newtworksecurities/observer</class>
                        <method>appendHoneypot</method>
                    </adminhtml_index_login>
                </observers>
            </controller_action_layout_load_before>
-->
      
      <!-- put these in when ready
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <newtworksecurities>
                        <class>newtworksecurities/observer</class>
                        <method>checkUserLogin</method>
                    </newtworksecurities>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <newtworksecurities>
                        <class>newtworksecurities/observer</class>
                        <method>checkForgotPassword</method>
                    </newtworksecurities>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <newtworksecurities>
                        <class>newtworksecurities/observer</class>
                        <method>checkUserCreate</method>
                    </newtworksecurities>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_adminhtml_index_forgotpassword>
                <observers>
                    <newtworksecurities>
                        <class>newtworksecurities/observer</class>
                        <method>checkUserForgotPasswordBackend</method>
                    </newtworksecurities>
                </observers>
            </controller_action_predispatch_adminhtml_index_forgotpassword>
            <admin_user_authenticate_before>
                <observers>
                    <newtworksecurities>
                        <class>newtworksecurities/observer</class>
                        <method>checkUserLoginBackend</method>
                    </newtworksecurities>
                </observers>
            </admin_user_authenticate_before>
            <admin_session_user_login_success>
                <observers>
                    <newtworksecurities_reset_attempt>
                        <class>newtworksecurities/observer</class>
                        <method>resetAttemptForBackend</method>
                    </newtworksecurities_reset_attempt>
                </observers>
            </admin_session_user_login_success>
			-->
    </events>
  </global>
  <adminhtml>
    <layout>
      <updates>
        <wsu_newtworksecurities>
          <file>newtworksecurities.xml</file>
        </wsu_newtworksecurities>
      </updates>
    </layout>
  </adminhtml>
  <admin>
    <layout>
      <updates>
        <wsu_newtworksecurities>
          <file>newtworksecurities.xml</file>
        </wsu_newtworksecurities>
      </updates>
    </layout>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <wsu_newtworksecurities before="Mage_Adminhtml">Wsu_NewtworkSecurities_Adminhtml</wsu_newtworksecurities>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <frontend>
    <events>
      <controller_action_predispatch>
        <observers>
          <wsu_newtworksecurities>
            <class>Wsu_newtworksecurities_Model_Customer_Observer</class>
            <method>requireLogin</method>
          </wsu_newtworksecurities>
        </observers>
      </controller_action_predispatch>
      <controller_action_predispatch_customer_account_createpost>
        <observers>
          <wsu_newtworksecurities>
            <class>Wsu_newtworksecurities_Model_Observer</class>
            <method>controllerActionPredispatchCustomerAccountCreatepost</method>
          </wsu_newtworksecurities>
        </observers>
      </controller_action_predispatch_customer_account_createpost>
      <controller_action_predispatch_review_product_post>
        <observers>
          <wsu_newtworksecurities>
            <class>Wsu_newtworksecurities_Model_Observer</class>
            <method>controllerActionPredispatchBlockReviewForm</method>
          </wsu_newtworksecurities>
        </observers>
      </controller_action_predispatch_review_product_post>
      <controller_action_predispatch_customer_account_create>
        <observers>
          <wsu_newtworksecurities>
            <class>Wsu_newtworksecurities_Model_Observer</class>
            <method>controllerActionPredispatchCustomerAccountCreate</method>
          </wsu_newtworksecurities>
        </observers>
      </controller_action_predispatch_customer_account_create>
    </events>
    <layout>
      <updates>
        <wsu_newtworksecurities>
          <file>newtworksecurities.xml</file>
        </wsu_newtworksecurities>
      </updates>
    </layout>
    <routers>
      <wsu_newtworksecurities>
        <use>standard</use>
        <args>
          <module>Wsu_newtworksecurities</module>
          <frontName>newtworksecurities</frontName>
        </args>
      </wsu_newtworksecurities>
    </routers>
  </frontend>
  <default>
    <wsu_newtworksecurities>
      <startup>
        <require_login>0</require_login>
        <require_login_whitelist><![CDATA[#(customer\/account\/(log(in|out)|forgotpassword|resetpassword|create))#]]></require_login_whitelist>
      </startup>
      <honeypots>
        <usehoneypots>1</usehoneypots>
        <hpp_lastseen_threshold>10</hpp_lastseen_threshold>
        <hpp_threatscore_threshold>50</hpp_threatscore_threshold>
        <hpp_suspicious_threshold>1</hpp_suspicious_threshold>
        <hpp_harvester_threshold>1</hpp_harvester_threshold>
        <hpp_comment_threshold>1</hpp_comment_threshold>
        <hpp_test_mode>1</hpp_test_mode>
        <hpp_test_ip>218.10.17.107</hpp_test_ip>
      </honeypots>
      <ldap>
        <adminlogin>
          <activeldap>0</activeldap>
          <host>ldap1</host>
          <version>3</version>
          <port>389</port>
          <tls>0</tls>
          <rootdn><![CDATA[cn=admin,dc=newtworksecurities,dc=com]]></rootdn>
          <rootpassword>newtworksecurities</rootpassword>
          <userdn><![CDATA[ou=users,dc=newtworksecurities,dc=com]]></userdn>
          <filter><![CDATA[(&(%s=%s)(groups=newtworksecurities-magento-1))]]></filter>
          <cmpattr>cn</cmpattr>
          <passattr>userPassword</passattr>
          <attr><![CDATA[{"login":"cn","firstname":"givenname","mail":"mail","lastname":"sn"}]]></attr>
          <defaultroleid>20</defaultroleid>
          <adminatuocreate>0</adminatuocreate>
        </adminlogin>
      </ldap>
    </wsu_newtworksecurities>
  </default>
</config>
