<!--@subject New Blacklisted admin event on {{var storeName}} @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
Some one was blacklisted. IP: {{var ip}}
<br/>
<a href="{{var bypassUrl}}">If you are the one locked out here is your chance to try again.</a>
</div>
</body>