<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Wsu_Admin>
            <version>0.1.0</version>
        </Wsu_Admin>
    </modules>
    <global>
        <blocks>
            <dcadmin>
                <class>Wsu_Admin_Block</class>
            </dcadmin>
        </blocks>
        <models>
            <admin>
                <rewrite>
                    <session>Wsu_Admin_Model_Session</session>
                </rewrite>
            </admin>
            <customer>
                <rewrite>
                    <session>Wsu_Admin_Model_Customer_Session</session>
					<customer>Wsu_Admin_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <dcadmin>
                <class>Wsu_Admin_Helper</class>
            </dcadmin>
        </helpers>
    </global>


 <!-- <frontend>
    <routers />
    <events />
    <translate />
    <layout />
  </frontend>-->
    <default>
        <adminhtml>
            <acl>
                <resources>
                    <all>
                        <title>Allow Everything</title>
                    </all>
                    <admin>
                        <children>
                            <dcadmin module="dcadmin">
                                <title>Ldap login</title>
                                <sort_order>10</sort_order>
                            </dcadmin>
                            <system>
                                <children>
                                    <config>
                                        <children>
                                            <wsuinfo>
                                                <title>DiVA</title>
                                            </wsuinfo>
                                            <dcadmin>
                                                <title>DiVA tab</title>
                                            </dcadmin>
                                        </children>
                                    </config>
                                </children>
                            </system>
                        </children>
                    </admin>
                </resources>
            </acl>
        </adminhtml>
        <dcadmin>
            <ldapadminlogin>
                <activeldap><![CDATA[0]]></activeldap>
                <host><![CDATA[ldap1]]></host>
                <version><![CDATA[3]]></version>
                <port><![CDATA[389]]></port>
                <tls><![CDATA[0]]></tls>
                <rootdn><![CDATA[cn=admin,dc=diva,dc=com]]></rootdn>
                <rootpassword><![CDATA[diva]]></rootpassword>
                <userdn><![CDATA[ou=users,dc=diva,dc=com]]></userdn>
                <filter><![CDATA[(&(%s=%s)(groups=DiVA-magento-1))]]></filter>
                <cmpattr><![CDATA[cn]]></cmpattr>
                <passattr><![CDATA[userPassword]]></passattr>
                <attr><![CDATA[{"login":"cn","firstname":"givenname","mail":"mail","lastname":"sn"}]]></attr>
				<defaultroleid><![CDATA[20]]></defaultroleid>
				<adminatuocreate><![CDATA[0]]></adminatuocreate>
            </ldapadminlogin>
        </dcadmin>
    </default>
</config> 