<?xml version="1.0" encoding="utf-8"?>
<config>
  <modules>
    <Wsu_NetworkSecurities>
      <version>0.1.0</version>
    </Wsu_NetworkSecurities>
  </modules>
  <global>
    <helpers>
      <wsu_networksecurities>
        <class>Wsu_NetworkSecurities_Helper</class>
      </wsu_networksecurities>
    </helpers>
    <blocks>
      <wsu_networksecurities>
        <class>Wsu_NetworkSecurities_Block</class>
      </wsu_networksecurities>
    </blocks>
    <models>
      <admin>
        <rewrite>
          <session>Wsu_NetworkSecurities_Model_Session</session>
          <Observer>Wsu_NetworkSecurities_Model_Observer</Observer>
        </rewrite>
      </admin>
      <customer>
        <rewrite>
          <session>Wsu_NetworkSecurities_Model_Customer_Session</session>
          <customer>Wsu_NetworkSecurities_Model_Customer_Customer</customer>
        </rewrite>
      </customer>
      <wsu_networksecurities>
        <class>Wsu_NetworkSecurities_Model</class>
        <resourceModel>networksecurities_resource</resourceModel>
      </wsu_networksecurities>
      <networksecurities_resource>
        <class>Wsu_NetworkSecurities_Model_Resource</class>
        <entities>
          <failedlogin>
            <table>wsu_failedlogin_log</table>
          </failedlogin>
          <blacklist>
            <table>wsu_blacklist</table>
          </blacklist>
          <spam_log>
            <table>wsu_spamlog</table>
          </spam_log>
        </entities>
      </networksecurities_resource>
    </models>
    <resources>
      <networksecurities_setup>
        <setup>
          <module>Wsu_NetworkSecurities</module>
          <class>Wsu_NetworkSecurities_Model_Resource_Setup</class>
        </setup>
      </networksecurities_setup>
    </resources>
    <events>
      
      <!--<controller_action_layout_load_before>
                <observers>
                    <adminhtml_index_login>
                        <class>wsu_networksecurities/observer</class>
                        <method>appendHoneypot</method>
                    </adminhtml_index_login>
                </observers>
            </controller_action_layout_load_before>
-->
      
      <!-- put these in when ready
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <networksecurities>
                        <class>networksecurities/observer</class>
                        <method>checkUserLogin</method>
                    </networksecurities>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <networksecurities>
                        <class>networksecurities/observer</class>
                        <method>checkForgotPassword</method>
                    </networksecurities>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <networksecurities>
                        <class>networksecurities/observer</class>
                        <method>checkUserCreate</method>
                    </networksecurities>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_adminhtml_index_forgotpassword>
                <observers>
                    <networksecurities>
                        <class>networksecurities/observer</class>
                        <method>checkUserForgotPasswordBackend</method>
                    </networksecurities>
                </observers>
            </controller_action_predispatch_adminhtml_index_forgotpassword>
            <admin_user_authenticate_before>
                <observers>
                    <networksecurities>
                        <class>networksecurities/observer</class>
                        <method>checkUserLoginBackend</method>
                    </networksecurities>
                </observers>
            </admin_user_authenticate_before>
            <admin_session_user_login_success>
                <observers>
                    <networksecurities_reset_attempt>
                        <class>networksecurities/observer</class>
                        <method>resetAttemptForBackend</method>
                    </networksecurities_reset_attempt>
                </observers>
            </admin_session_user_login_success>
			-->
			
			
		<http_response_send_before><!--<controller_front_init_before> it may be better on this but trying to account for FPC -->
			<observers>
				<networksecurities_testBlacklist>
					<class>wsu_networksecurities/observer</class>
					<method>testBlacklist</method>
				</networksecurities_testBlacklist>
			</observers>
		</http_response_send_before>
      <admin_session_user_login_failed>
        <observers>
          <networksecurities_setFailedLogin>
            <class>wsu_networksecurities/observer</class>
            <method>setFailedLogin</method>
          </networksecurities_setFailedLogin>
        </observers>
      </admin_session_user_login_failed>
    </events>
  </global>
  <adminhtml>
    <layout>
      <updates>
        <wsu_networksecurities>
          <file>networksecurities.xml</file>
        </wsu_networksecurities>
      </updates>
    </layout>
  </adminhtml>
  <admin>
    <layout>
      <updates>
        <wsu_networksecurities>
          <file>networksecurities.xml</file>
        </wsu_networksecurities>
      </updates>
    </layout>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <wsu_networksecurities before="Mage_Adminhtml">Wsu_NetworkSecurities_Adminhtml</wsu_networksecurities>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <frontend>
    <events>
      <!--<controller_action_predispatch>
        <observers>
          <wsu_networksecurities>
            <class>Wsu_NetworkSecurities_Model_Customer_Observer</class>
            <method>requireLogin</method>
          </wsu_networksecurities>
        </observers>
      </controller_action_predispatch>-->
      <controller_action_predispatch_customer_account_createpost>
        <observers>
          <wsu_networksecurities>
            <class>Wsu_NetworkSecurities_Model_Observer</class>
            <method>controllerActionPredispatchCustomerAccountCreatepost</method>
          </wsu_networksecurities>
        </observers>
      </controller_action_predispatch_customer_account_createpost>
      <controller_action_predispatch_review_product_post>
        <observers>
          <wsu_networksecurities>
            <class>Wsu_NetworkSecurities_Model_Observer</class>
            <method>controllerActionPredispatchBlockReviewForm</method>
          </wsu_networksecurities>
        </observers>
      </controller_action_predispatch_review_product_post>
      <controller_action_predispatch_customer_account_create>
        <observers>
          <wsu_networksecurities>
            <class>Wsu_NetworkSecurities_Model_Observer</class>
            <method>controllerActionPredispatchCustomerAccountCreate</method>
          </wsu_networksecurities>
        </observers>
      </controller_action_predispatch_customer_account_create>
    </events>
    <layout>
      <updates>
        <wsu_networksecurities>
          <file>networksecurities.xml</file>
        </wsu_networksecurities>
      </updates>
    </layout>
    <routers>
      <wsu_networksecurities>
        <use>standard</use>
        <args>
          <module>Wsu_NetworkSecurities</module>
          <frontName>networksecurities</frontName>
        </args>
      </wsu_networksecurities>
    </routers>
  </frontend>
  <default>
    <wsu_networksecurities>
      <startup>
        <require_login>0</require_login>
        <require_login_whitelist>
          <![CDATA[#(customer\/account\/(log(in|out)|forgotpassword|resetpassword|create))#]]>
        </require_login_whitelist>
      </startup>
		<captcha>
			<mode>default</mode>
			<api>standard</api>
			<theme>red</theme>
			<language>en</language>
		</captcha>
      <honeypots>
        <usehoneypots>1</usehoneypots>
        <hpp_lastseen_threshold>10</hpp_lastseen_threshold>
        <hpp_threatscore_threshold>50</hpp_threatscore_threshold>
        <hpp_suspicious_threshold>1</hpp_suspicious_threshold>
        <hpp_harvester_threshold>1</hpp_harvester_threshold>
        <hpp_comment_threshold>1</hpp_comment_threshold>
        <hpp_test_mode>1</hpp_test_mode>
        <hpp_test_ip>218.10.17.107</hpp_test_ip>
      </honeypots>
      <blacklist>
	  	<useblacklist>1</useblacklist>
        <limiter>3</limiter>
      </blacklist>
      <ldap>
        <adminlogin>
          <activeldap>0</activeldap>
		  <allow_request>1</allow_request>
          <host>ldap1</host>
          <version>3</version>
          <port>389</port>
          <tls>0</tls>
          <rootdn>
            <![CDATA[cn=admin,dc=networksecurities,dc=com]]>
          </rootdn>
          <rootpassword>networksecurities</rootpassword>
          <userdn>
            <![CDATA[ou=users,dc=networksecurities,dc=com]]>
          </userdn>
          <filter>
            <![CDATA[(&(%s=%s)(groups=networksecurities-magento-1))]]>
          </filter>
          <cmpattr>cn</cmpattr>
          <passattr>userPassword</passattr>
          <attr>
            <![CDATA[{"login":"cn","firstname":"givenname","mail":"mail","lastname":"sn"}]]>
          </attr>
          <defaultroleid>20</defaultroleid>
          <adminatuocreate>0</adminatuocreate>
        </adminlogin>
      </ldap>
    </wsu_networksecurities>
  </default>
  <crontab>
    <jobs>
      <delete_expired_log>
        <schedule>
          <cron_expr>* * * * *</cron_expr>
        </schedule>
        <run>
          <model>wsu_networksecurities/cron::deleteExpiredLog</model>
        </run>
      </delete_expired_log>
    </jobs>
  </crontab>
</config>
