<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<Wsu_Networksecurities>
			<version>0.1.0</version>
		</Wsu_Networksecurities>
	</modules>
	<global>
		<helpers>
			<wsu_networksecurities>
				<class>Wsu_Networksecurities_Helper</class>
			</wsu_networksecurities>
		</helpers>
		<blocks>
			<wsu_networksecurities>
				<class>Wsu_Networksecurities_Block</class>
			</wsu_networksecurities>
			<adminhtml>
				<rewrite>
					<permissions_user_edit_tab_main>Wsu_Networksecurities_Block_Adminhtml_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
				</rewrite>
			</adminhtml>
		</blocks>
		<controller>
			<wsu_networksecurities>
				<class>Wsu_Networksecurities_Controller</class>
			</wsu_networksecurities>
		</controller>
		<models>
			<admin>
				<rewrite>
					<session>Wsu_Networksecurities_Model_Session</session>
					<Observer>Wsu_Networksecurities_Model_Observer</Observer>
				</rewrite>
			</admin>
			<customer>
				<rewrite>
					<session>Wsu_Networksecurities_Model_Customer_Session</session>
					<customer>Wsu_Networksecurities_Model_Customer_Customer</customer>
					<form>Wsu_Networksecurities_Model_Form</form>
					<setup>Wsu_Networksecurities_Model_Setup</setup>
					<config_share>Wsu_Networksecurities_Model_Config_Share</config_share>
				</rewrite>
			</customer>
			<customer_entity>
				<rewrite>
					<customer>Wsu_Networksecurities_Model_Entity_Customer</customer>
				</rewrite>
			</customer_entity>
			<customer_resource>
				<rewrite>
					<customer>Wsu_Networksecurities_Model_Entity_Customer</customer>
				</rewrite>
			</customer_resource>
			<importexport>
				<rewrite>
					<import_entity_customer>Wsu_Networksecurities_Model_Import_Entity_Customer</import_entity_customer>
				</rewrite>
			</importexport>
			<wsu_networksecurities>
				<class>Wsu_Networksecurities_Model</class>
				<resourceModel>networksecurities_resource</resourceModel>
			</wsu_networksecurities>
			<networksecurities_resource>
				<class>Wsu_Networksecurities_Model_Resource</class>
				<entities>
					<failedlogin>
						<table>wsu_failedlogin_log</table>
					</failedlogin>
					<blacklist>
						<table>wsu_blacklist</table>
					</blacklist>
					<spam_log>
						<table>wsu_spamlog</table>
					</spam_log>
					<customer>
						<table>twlogin_customer</table>
					</customer>
					<authorlogin>
						<table>authorlogin_customer</table>
					</authorlogin>
				</entities>
			</networksecurities_resource>
		</models>
		<resources>
			<networksecurities_setup>
				<setup>
					<module>Wsu_Networksecurities</module>
					<class>Wsu_Networksecurities_Model_Resource_Setup</class>
				</setup>
			</networksecurities_setup>
		</resources>
		<events>
			
			<!--<controller_action_layout_load_before>
                <observers>
                    <adminhtml_index_login>
                        <class>wsu_networksecurities/observer</class>
                        <method>appendHoneypot</method>
                    </adminhtml_index_login>
                </observers>
            </controller_action_layout_load_before>
-->
			
			<!-- put these in when ready
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <networksecurities>
                        <class>networksecurities/observer</class>
                        <method>checkUserLogin</method>
                    </networksecurities>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <networksecurities>
                        <class>networksecurities/observer</class>
                        <method>checkForgotPassword</method>
                    </networksecurities>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <networksecurities>
                        <class>networksecurities/observer</class>
                        <method>checkUserCreate</method>
                    </networksecurities>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_adminhtml_index_forgotpassword>
                <observers>
                    <networksecurities>
                        <class>networksecurities/observer</class>
                        <method>checkUserForgotPasswordBackend</method>
                    </networksecurities>
                </observers>
            </controller_action_predispatch_adminhtml_index_forgotpassword>
            <admin_user_authenticate_before>
                <observers>
                    <networksecurities>
                        <class>networksecurities/observer</class>
                        <method>checkUserLoginBackend</method>
                    </networksecurities>
                </observers>
            </admin_user_authenticate_before>
            <admin_session_user_login_success>
                <observers>
                    <networksecurities_reset_attempt>
                        <class>networksecurities/observer</class>
                        <method>resetAttemptForBackend</method>
                    </networksecurities_reset_attempt>
                </observers>
            </admin_session_user_login_success>
			-->
			
			<http_response_send_before><!--<controller_front_init_before> it may be better on this but trying to account for FPC -->
				<observers>
					<networksecurities_testBlacklist>
						<class>wsu_networksecurities/observer</class>
						<method>testBlacklist</method>
					</networksecurities_testBlacklist>
				</observers>
			</http_response_send_before>
			<admin_session_user_login_failed>
				<observers>
					<networksecurities_setFailedLogin>
						<class>wsu_networksecurities/observer</class>
						<method>setFailedLogin</method>
					</networksecurities_setFailedLogin>
				</observers>
			</admin_session_user_login_failed>
			<customer_customer_authenticated>
				<observers>
					<customer_observer>
						<type>singleton</type>
						<class>wsu_networksecurities/observer</class>
						<method>isActive</method>
					</customer_observer>
				</observers>
			</customer_customer_authenticated>
		</events>
		<fieldsets>
			<customer_account>
				<ldap_user>
					<to_quote>customer_ldap_user</to_quote>
				</ldap_user>
				<sso_map>
					<to_quote>customer_sso_map</to_quote>
				</sso_map>
				<username>
					<create>1</create>
					<update>1</update>
					<to_order>customer_username</to_order>
					<to_quote>customer_username</to_quote>
				</username>
			</customer_account>
			<checkout_onepage_quote>
				<customer_ldap_user>
					<to_customer>ldap_user</to_customer>
				</customer_ldap_user>
				<customer_sso_map>
					<to_customer>sso_map</to_customer>
				</customer_sso_map>
				<customer_username>
					<to_customer>username</to_customer>
				</customer_username>
			</checkout_onepage_quote>
			<checkout_onepage_billing>
				<username>
					<to_customer>*</to_customer>
				</username>
			</checkout_onepage_billing>
			<sales_convert_quote>
				<customer_username>
					<to_order>*</to_order>
				</customer_username>
			</sales_convert_quote>
			<sales_convert_quote_address>
				<username>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</username>
			</sales_convert_quote_address>
			<sales_convert_order>
				<customer_username>
					<to_quote>*</to_quote>
				</customer_username>
			</sales_convert_order>
		</fieldsets>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<wsu_networksecurities>
					<file>networksecurities.xml</file>
				</wsu_networksecurities>
			</updates>
		</layout>
		<events>
			<admin_system_config_changed_section_username>
				<observers>
					<change_eav_username>
						<class>wsu_networksecurities/observer</class>
						<method>changeEavAttribute</method>
					</change_eav_username>
				</observers>
			</admin_system_config_changed_section_username>
			<eav_collection_abstract_load_before>
				<observers>
					<customer_load_collection>
						<class>wsu_networksecurities/observer</class>
						<method>addAttributeToCollection</method>
					</customer_load_collection>
				</observers>
			</eav_collection_abstract_load_before>
			<core_block_abstract_to_html_before>
				<observers>
					<username_grid>
						<type>singleton</type>
						<class>wsu_networksecurities/observer</class>
						<method>addUsernameColumn</method>
					</username_grid>
				</observers>
			</core_block_abstract_to_html_before>
		</events>
	</adminhtml>
	<admin>
		<layout>
			<updates>
				<wsu_networksecurities>
					<file>networksecurities.xml</file>
				</wsu_networksecurities>
			</updates>
		</layout>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<wsu_networksecurities before="Mage_Adminhtml">Wsu_Networksecurities_Adminhtml</wsu_networksecurities>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<events>
			<!--<controller_action_predispatch>
        <observers>
          <wsu_networksecurities>
            <class>Wsu_Networksecurities_Model_Customer_Observer</class>
            <method>requireLogin</method>
          </wsu_networksecurities>
        </observers>
      </controller_action_predispatch>-->
			<controller_action_predispatch_customer_account_createpost>
				<observers>
					<wsu_networksecurities>
						<class>Wsu_Networksecurities_Model_Observer</class>
						<method>controllerActionPredispatchCustomerAccountCreatepost</method>
					</wsu_networksecurities>
				</observers>
			</controller_action_predispatch_customer_account_createpost>
			<controller_action_predispatch_review_product_post>
				<observers>
					<wsu_networksecurities>
						<class>Wsu_Networksecurities_Model_Observer</class>
						<method>controllerActionPredispatchBlockReviewForm</method>
					</wsu_networksecurities>
				</observers>
			</controller_action_predispatch_review_product_post>
			<controller_action_predispatch_customer_account_create>
				<observers>
					<wsu_networksecurities>
						<class>Wsu_Networksecurities_Model_Observer</class>
						<method>controllerActionPredispatchCustomerAccountCreate</method>
					</wsu_networksecurities>
				</observers>
			</controller_action_predispatch_customer_account_create>
			<controller_action_predispatch_customer_account_edit>
				<observers>
					<Wsu_Networksecurities_Sociallogin_observer>
						<type>singleton</type>
						<class>wsu_networksecurities/observer</class>
						<method>customer_edit</method>
					</Wsu_Networksecurities_Sociallogin_observer>
				</observers>
			</controller_action_predispatch_customer_account_edit>
		</events>
		<layout>
			<updates>
				<wsu_networksecurities>
					<file>networksecurities.xml</file>
				</wsu_networksecurities>
			</updates>
		</layout>
		<routers>
			<wsu_networksecurities>
				<use>standard</use>
				<args>
					<module>Wsu_Networksecurities</module>
					<frontName>networksecurities</frontName>
				</args>
			</wsu_networksecurities>
			<sociallogin>
				<use>standard</use>
				<args>
					<module>Wsu_Networksecurities_Sso</module>
					<frontName>sociallogin</frontName>
				</args>
			</sociallogin>
			<customer>
				<args>
					<modules>
						<username before="Mage_Customer">Wsu_Networksecurities</username>
					</modules>
				</args>
			</customer>
		</routers>
	</frontend>
	<default>
		<wsu_networksecurities>
			<startup>
				<require_login>0</require_login>
				<require_login_whitelist>
					<![CDATA[#(customer\/account\/(log(in|out)|forgotpassword|resetpassword|create))#]]>
				</require_login_whitelist>
			</startup>
			<captcha>
				<mode>default</mode>
				<api>standard</api>
				<theme>red</theme>
				<language>en</language>
			</captcha>
			<honeypots>
				<usehoneypots>1</usehoneypots>
				<hpp_lastseen_threshold>10</hpp_lastseen_threshold>
				<hpp_threatscore_threshold>50</hpp_threatscore_threshold>
				<hpp_suspicious_threshold>1</hpp_suspicious_threshold>
				<hpp_harvester_threshold>1</hpp_harvester_threshold>
				<hpp_comment_threshold>1</hpp_comment_threshold>
				<hpp_test_mode>1</hpp_test_mode>
				<hpp_test_ip>218.10.17.107</hpp_test_ip>
			</honeypots>
			<blacklist>
				<useblacklist>1</useblacklist>
				<limiter>3</limiter>
			</blacklist>
			<ldap>
				<adminlogin>
					<activeldap>0</activeldap>
					<allow_request>1</allow_request>
					<host>ldap1</host>
					<version>3</version>
					<port>389</port>
					<tls>0</tls>
					<rootdn>
						<![CDATA[cn=admin,dc=networksecurities,dc=com]]>
					</rootdn>
					<rootpassword>networksecurities</rootpassword>
					<userdn>
						<![CDATA[ou=users,dc=networksecurities,dc=com]]>
					</userdn>
					<filter>
						<![CDATA[(&(%s=%s)(groups=networksecurities-magento-1))]]>
					</filter>
					<cmpattr>cn</cmpattr>
					<passattr>userPassword</passattr>
					<attr>
						<![CDATA[{"login":"cn","firstname":"givenname","mail":"mail","lastname":"sn"}]]>
					</attr>
					<defaultroleid>20</defaultroleid>
					<adminatuocreate>0</adminatuocreate>
				</adminlogin>
			</ldap>
			<sociallogin>
				<general_sso>
					<is_active>1</is_active>
					<position>header,popup</position>
					<direction>right</direction>
					<number_show>5</number_show>
				</general_sso>
				<twlogin>
					<is_active>1</is_active>
					<connecting_notice>
						<![CDATA[If you have a account on {{store}}, please login else register a new account to connect twitter account]]>
					</connecting_notice>
					<sort_order>3</sort_order>
				</twlogin>
				<yalogin>
					<is_active>1</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>5</sort_order>
				</yalogin>
				<gologin>
					<is_active>1</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>2</sort_order>
				</gologin>
				<fblogin>
					<is_active>1</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>1</sort_order>
				</fblogin>
				<aollogin>
					<is_active>0</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>6</sort_order>
				</aollogin>
				<wplogin>
					<is_active>0</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>7</sort_order>
				</wplogin>
				<callogin>
					<is_active>0</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>8</sort_order>
				</callogin>
				<orglogin>
					<is_active>0</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>9</sort_order>
				</orglogin>
				<fqlogin>
					<is_active>0</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>10</sort_order>
				</fqlogin>
				<livelogin>
					<is_active>0</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>11</sort_order>
				</livelogin>
				<mplogin>
					<is_active>0</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>12</sort_order>
				</mplogin>
				<linklogin>
					<is_active>0</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>4</sort_order>
				</linklogin>
				<openlogin>
					<is_active>0</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>13</sort_order>
				</openlogin>
				<ljlogin>
					<is_active>0</is_active>
					<is_send_password_to_customer>0</is_send_password_to_customer>
					<sort_order>14</sort_order>
				</ljlogin>
				<perlogin>
					<sort_order>15</sort_order>
				</perlogin>
				<selogin>
					<sort_order>16</sort_order>
				</selogin>
			</sociallogin>
		</wsu_networksecurities>
	</default>
	<crontab>
		<jobs>
			<delete_expired_log>
				<schedule>
					<cron_expr>* * * * *</cron_expr>
				</schedule>
				<run>
					<model>wsu_networksecurities/cron::deleteExpiredLog</model>
				</run>
			</delete_expired_log>
		</jobs>
	</crontab>
</config>
